.profile-container{
    max-width: 1000px;
    margin: 100px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    
}

.profile-container h1 {
    text-align: center;
    font-size: 30px;
    color:blue;
}

.profile-container p {
    text-align: justify;
    color: #222;
    font-size: 20px;
}